*.dblite
*.o
*.a
*.os
*.so
*.dll
*.out
*.svg
*.exe
*.code-workspace
perf*
run.*
clean.bat
ignore me/
bin/seze
bin/seze-gui
modules/ffmpeg/lib/
modules/SDL2/lib/
bin/plugins/
.vscode
*__pycache__
output/
